################################################################################
# Ce fichier .gitignore a été créé automatiquement par Microsoft(R) Visual Studio.
################################################################################

/WTM.Core/bin/Debug
*.suo
/WTM.Core/obj/Debug
/packages
*.ncrunchproject
*.user
/WTM.Api/bin
/WTM.Api/obj/Debug
/WTM.Domain/bin/Debug
/WTM.Domain/obj/Debug
/WTM.WebsiteClient/bin
/WTM.WebsiteClient/obj
/WTM.WebsiteClient.Test/bin
/WTM.WebsiteClient.Test/obj
*.cache
*.DotSettings
*.ncrunchsolution
/WTM.Api/obj/Release/CSAutoParameterize
/WTM.Api.Client/bin/Debug
/WTM.Api/obj/Release
/WTM.Api.Client/obj
/WTM.Api.Client.Test/bin/Debug
/WTM.Api.Client.Test/obj
/WTM.Api.Mobile/bin
/WTM.Api.Mobile/obj/Debug
/WTM.Core/bin/Release
/WTM.Core/obj/Release
/WTM.Crawler/obj
/WTM.Crawler/bin
/WTM.Crawler.Test/bin
/WTM.Crawler.Test/obj
/WTM.Domain/bin/Release
/WTM.Domain/obj/Release
/WTM.Mobile.Core/bin/Debug
/WTM.Mobile.Core/obj
/WTM.Mobile.Droid/bin/Debug
/WTM.Mobile.Droid/obj
*.userprefs
/WTM.Api.Mobile/obj/Release
