<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WTM.WebsiteClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WTM.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WTM.WebsiteClient.Properties.Settings>
            <setting name="Proxy" serializeAs="String">
                <value>localhost:8888</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36</value>
            </setting>
        </WTM.WebsiteClient.Properties.Settings>
        <WTM.Core.Properties.Settings>
            <setting name="Proxy" serializeAs="String">
                <value>localhost:8888</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36</value>
            </setting>
        </WTM.Core.Properties.Settings>
    </applicationSettings>
</configuration>